@import "~bootstrap/dist/css/bootstrap.min.css";

.bgGreen {
  background: #008f39;
}
.card {
  width: 300px;
  height: 450px;
  background: #fff;
  border-radius: 15px;
  margin: 0 auto;
}
.number {
  font-size: 8em;
}
.textSize2 {
  font-size: 3em;
}
.textRed {
  color: red;
}
